html {
	height: 100%;
	width: 100%;
}

body {
	background-image: url(cinema.jpg);
	background-position: center;
	background-size: cover;
}

form {
	position: relative;
    top: 145px;
    left: 175px;
	font-family: 'Raleway', sans-serif;
}

label {
	color: white;
}

.btn-primary {
	position: absolute;
	top: 103%;
	left: 0.01%;
}